<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        backupGlobals               = "false"
        backupStaticAttributes      = "false"
        colors                      = "true"
        convertErrorsToExceptions   = "true"
        convertNoticesToExceptions  = "true"
        convertWarningsToExceptions = "true"
        processIsolation            = "false"
        stopOnFailure               = "false"
        bootstrap                   = "tests/bootstrap.php" >

    <testsuites>
        <testsuite name="Transcode to Mp3 Stream Test Suite">
            <directory>tests</directory>
        </testsuite>
        <testsuite name="No ffmpeg">
            <directory>tests</directory>
            <exclude>tests/AudioInspectorTest.php</exclude>
        </testsuite>
    </testsuites>

</phpunit>
